<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silicon street</title>
    <link rel="stylesheet" href="./dist/output.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        @font-face {
            font-family: 'dune';
            src: url('/fonts/Dune_Rise.woff') format('woff');
        }
    </style>
</head>

<body class="bg-custom">
    <div class="main relative overflow-x-hidden">      

        <div class="main_2 h-screen flex flex-col justify-between">
            <!-- Navigation -->
            <div class="navigation flex items-center justify-around py-12">
                <div class="navigation_logo">

                    <!-- <img src="/photo/logo.png" alt="logo" class="h-20 w-20" /> -->
                </div>
                <div class="navigation_category flex gap-14">
                    <div class="navigation_ele cursor-pointer">
                        <a class="nav_ font-custom font-bold" href="/">Home</a>
                        <!-- <h3>Home</h3> -->
                        <div class="bottom_line w-0 h-0.5 bg-black" id="home_line"></div>
                    </div>
                    <div class="navigation_ele cursor-pointer">
                        <a class="nav_ font-custom font-bold" href="/shop">Shop</a>
                        <div class="bottom_line w-0 h-0.5 bg-black" id="shop_line"></div>
                    </div>
                    <div class="navigation_ele cursor-pointer">
                        <a class="nav_ font-custom font-bold" href="/pre-build">pre-build</a>
                        <div class="bottom_line w-0 h-0.5 bg-black" id="Pre_build_line"></div>
                    </div>
                    <div class="navigation_ele cursor-pointer">
                        <a class="nav_ font-custom font-bold" href="/cart">cart</a>
                        <div class="bottom_line w-0 h-0.5 bg-black" id="cart_line"></div>
                    </div>
                </div>
                <div class="navigation_icon cursor-pointer">
                    <i class="icon ri-admin-line text-2xl"></i>
                </div>
            </div>



            <!-- Shop -->
            <div class="w-full mb-24 flex justify-center">
                <div class="w-5/6 pt-10 pl-10 pr-10 flex flex-wrap justify-between">

                    <% products.forEach (function(product){ %>
                        <!-- product -->
                        <div
                            class="w-[735px] h-[300px] bg-[#EDE6E3] mb-10 p-5 flex justify-between shadow-lg rounded-md">
                            <div class=" h-full w-[250px] border-black shadow-2xl">
                                <img src="data:image/png;base64,<%= product.Image.toString('base64') %>"
                                    class="object-cover w-full h-full" alt="">
                            </div>
                            <div class="h-full w-[420px] p-3">
                                <h1 class="font-custom font-bold">
                                    <%= product.name %>
                                </h1>
                                <ul class="pt-4">
                                    <li>
                                        <%= product.detail_1 %>
                                    </li>
                                    <li>
                                        <%= product.detail_2 %>
                                    </li>
                                    <li>
                                        <%= product.detail_3 %>
                                    </li>
                                    <li>
                                        <%= product.detail_4 %>
                                    </li>
                                    <li>
                                        <%= product.detail_5 %>
                                    </li>
                                </ul>
                                <div class="flex pt-10 justify-between items-center">
                                    <h1 class="text-2xl text-purple-600">
                                        $<%= product.price %>
                                    </h1>
                                    <div class="gap-5 flex pr-2">
                                        <a class="bg-yellow-400 p-2 rounded-md" href="/cart/<%= product._id %>">Add to
                                            cart</a>
                                        <button class="bg-red-500 p-2 pr-5 pl-5 rounded-md">Buy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>

            <!-- footer -->
            <footer class="w-full bg-black h-[300px] flex justify-center items-center">
                <div class="w-4/5 h-full">
                    <div class="flex justify-between mt-20 text-white">
                        <div>
                            <ul>
                                <li class="font-custom font-bold">CONTACT</li>
                                <li class="pt-4">Customer Support</li>
                                <li>Submit a Request</li>
                                <li>Support Center</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">ABOUT SILICON STREET</li>
                                <li class="pt-4">Company</li>
                                <li>Founder Q & A</li>
                                <li>Careers</li>
                                <LI>Customer Reviews</LI>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">COMMUNITY</li>
                                <li class="pt-4">Our Discord</li>
                                <li>Newsroom & Blog</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">SOFTWARE</li>
                                <li class="pt-4">CAM</li>
                                <li>CAM Feedback</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">ACCOUT</li>
                                <li class="pt-4">Manage Your Account</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">STORE</li>
                                <li class="pt-4">PC Parts and Accessories</li>
                                <li>Certified Refurbished Gaming PCs</li>
                                <li>Find a Retailer</li>
                                <LI>FAQ</LI>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="./js/animation.js"></script>

</html>